<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Mon Projet Python</title>
</head>
<body>
          
    <div class="desc">
        <h1>Mini Projet Devops</h1>
        <p><strong>Created by</strong>: <span>Fathi Ben Yahia</span>, <span> Dorsaf Hamad </span> and <span>Rochdi Bouhlel </span></p>
        <p>Coded with &hearts; Python HTML and JS</p>
      </div>

    <div class="container">
        <div class="moon"></div>
        <div class="cloud-container">
          <div class="cloud"></div>
          <div class="cloud"></div><div class="cloud"></div><div class="cloud"></div><div class="cloud"></div>     
        </div>
        
        <div class="stars">
          <div class="star"></div> <div class="star"></div> <div class="star"></div> <div class="star"></div> <div class="star"></div> <div class="star"></div> <div class="star"></div>
        </div>
        <div class="mountain"></div>
        <div class="train-container">
          <div class="train">
            <div class="train-car head-car">
              <div class="windows">
                <div class="head-car-window"></div>
                <div class="w-left"></div>
                <div class="w-right"></div>
              </div>
              <div class="door"></div>
            </div>
            
            <div class="train-car">
              <div class="windows">
                <div class="w-left"></div>
                <div class="w-right"></div>
              </div>
              <div class="door"></div>
              <div class="windows">
                <div class="w-left"></div>
                <div class="w-right"></div>
              </div>        
            </div>  
            
            <div class="train-car">
              <div class="windows">
                <div class="w-left"></div>
                <div class="w-right"></div>
              </div>
              <div class="door"></div>
              <div class="windows">
                <div class="w-left"></div>
                <div class="w-right"></div>
              </div>        
            </div>
            
            <div class="train-car">
              <div class="windows">
                <div class="w-left"></div>
                <div class="w-right"></div>
              </div>
              <div class="door"></div>
              <div class="windows">
                <div class="w-left"></div>
                <div class="w-right"></div>
              </div>        
            </div>
      
            <div class="train-car">
              <div class="windows">
                <div class="w-left"></div>
                <div class="w-right"></div>
              </div>
              <div class="door"></div>
              <div class="windows">
                <div class="w-left"></div>
                <div class="w-right"></div>
              </div>        
            </div>     
            
            <div class="train-car end-car">
              <div class="door"></div>
              <div class="windows">          
                <div class="w-left"></div>
                <div class="w-right"></div>
                <div class="end-car-window"></div>
              </div>
              
            </div>
            
          </div><!-- end .train-->
          
          
          <div class="train-track">
            <div class="ledge"></div>
            <div class="pillar">
              <div class="pillar-left"></div>
            <div class="pillar-middle"></div>
            <div class="pillar-right"></div>
            </div> <!--end .pillar-->
            
          </div><!--end .train-track-->
        </div>
      </div>

</body>
</html>
